@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter-var", sans-serif;
}

@font-face {
    font-family: 'Inter-var';
    src: url('../public/fonts/Inter-Var.730e8169.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'lyon-text';
    src: url('../public/fonts/LyonText-Regular-Web.d7bfb4be.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  