/* Tailwind CSS Directives */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset and Styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter-var', sans-serif;
  scroll-behavior: smooth;
}

.lato-thin {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
}

@layer utilities {
  .scrollbar-custom {
    @apply scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-300;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #929090;
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #757575;
    border-radius: 10px;
  }
}

html {
  scrollbar-color: #7e7e7e #a8a8a8;
  scrollbar-width: thin;
  border-radius: 10px;
}

body {
  @apply scrollbar-custom;
}

/* Font Face Definitions */
@font-face {
  font-family: 'Inter-var';
  src: url('/fonts/Inter-Var.730e8169.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lyon-text';
  src: url('../public/fonts/LyonText-Regular-Web.d7bfb4be.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'wise-sans';
  src: url('../public/fonts/WiseSans-Heavy.4bf7de7a\ \(1\).woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
